body {
  font-family: "Montserrat", sans-serif;
}

.page {
  padding: 100px 0;
}
.page-light {
  background: #F9F6F1;
}
.page-dark {
  background: #212121;
}

.wrapper {
  max-width: 1110px;
  margin: 0 auto;
  padding: 0 15px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 26px;
  padding-top: 46px;
}

.nav {
  display: flex;
  list-style: none;
  padding-left: 0;
}
.nav-item {
  margin-right: 52px;
}
.nav-link {
  color: #212121;
  text-decoration: none;
}

.cart {
  background: url("../img/cart.svg") 0 center no-repeat;
  padding-left: 45px;
  display: block;
  width: 30px;
  height: 30px;
}
.cart-count {
  background: url("../img/cart-bg.svg") 0 center no-repeat;
  color: #fff;
  font-size: 12px;
  font-weight: 700;
  padding: 10px 24px;
  display: block;
}

.title-h2 {
  text-align: center;
  font-size: 36px;
  text-transform: uppercase;
}

.btn {
  background: #D7B399;
  color: #fff;
  font-size: 16px;
  text-transform: uppercase;
  text-decoration: none;
  padding: 18px 28px;
}
.btn-xs {
  padding: 5px 28px;
}
.btn-center {
  display: block;
  text-align: center;
  max-width: 200px;
  margin: 0 auto;
}
.btn span {
  margin-right: 15px;
}

.main {
  display: flex;
  justify-content: space-between;
}
.main-item {
  flex: 0 0 50%;
}
.main .sale-descritption {
  font-size: 30px;
  letter-spacing: -0.6px;
}
.main .sale-title {
  font-size: 55px;
  font-weight: 700;
  margin-top: 30px;
  margin-bottom: 60px;
  text-transform: uppercase;
}

.box {
  position: relative;
}
.box-price {
  position: absolute;
  right: 0;
  top: 25px;
  text-align: right;
}
.box-price-old {
  font-size: 24px;
  font-weight: 700;
}
.box-price-new {
  font-size: 42px;
  font-weight: 700;
  color: #D84033;
  margin-top: 17px;
}

.notice {
  text-align: center;
  color: #fff;
  padding: 64px 0 54px;
}
.notice-title {
  font-size: 30px;
  text-transform: uppercase;
  font-weight: 400;
}
.notice-title span {
  font-weight: 700;
}
.notice-title {
  font-size: 21px;
}

.collection {
  display: flex;
  justify-content: space-between;
}
.collection-item {
  flex: 0 0 50%;
  padding: 43px 0 63px;
  background-size: 190px 171px;
}
.collection-man {
  background: url("../img/man.png") no-repeat calc(100% - 50px) bottom;
}
.collection-woman {
  background: url("../img/woman.png") no-repeat calc(100% - 50px) bottom;
}
.collection-title {
  font-size: 24px;
  font-weight: 300;
  text-transform: uppercase;
}
.collection-description {
  font-size: 16px;
  margin-bottom: 43px;
}

.product {
  display: flex;
  justify-content: space-between;
  text-align: center;
  margin-top: 103px;
  margin-bottom: 100px;
}
.product-item {
  position: relative;
  flex: 0 0 24%;
}
.product-item:before, .product-item:after {
  content: "";
  display: block;
  width: 100%;
  height: 25px;
  background-size: cover;
}
.product-item:before {
  background: url("../img/item-top.svg") no-repeat;
}
.product-item:after {
  background: url("../img/item-bottom.svg") no-repeat;
}
.product-title {
  font-weight: 600;
}
.product-price {
  color: #D7B399;
  font-size: 18px;
  font-weight: 700;
}

.footer {
  display: flex;
  justify-content: space-between;
  padding: 30px 0;
}
.footer-logo {
  flex: 0 0 40%;
}
.footer-nav {
  flex: 0 0 60%;
  display: flex;
  justify-content: space-between;
  color: #fff;
}
.footer-list {
  list-style-type: none;
  padding-left: 0;
}
.footer-list-title {
  font-size: 10px;
  font-weight: 700;
  text-transform: uppercase;
}
.footer-list-item {
  margin-bottom: 10px;
}
.footer-list-link {
  color: #CBCFD4;
  text-decoration: none;
  font-size: 14px;
}

/*# sourceMappingURL=style.css.map */
